*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
    --primary-color: #FFFFFF;
    --bg-color: rgba(26, 11, 46, 1);
    --Linear: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}
.navbar {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background-color: #1A0B2E;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    opacity: 0.8;
}
 .logo span {
    background: var(--Linear);
    background-clip: text;
    color: transparent;
 }
.navbar ul {
    display: flex;
    gap: 32px;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
    color: var(--primary-color);
}
.btn {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    background: var(--Linear);
    border: none;
    padding: 12px 16px;
    border-radius: 100px;
}
.banner-container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-image {
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    background-repeat: no-repeat;
}
.banner-container .banner-content {
    position: absolute;
    text-align: center;
}
.banner-content h1 {
    margin-top: 40px;
    font-size: 4rem;
    color: var(--primary-color);
}
.circle-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-image .microphone {
    position: absolute;
}
.badge {
    position: absolute;
    top: 0%;
    left: 60%;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 30px;
    background-color: #00FF88;
}
.banner-description {
    color: var(--primary-color);
    opacity: 0.8;
}
.buttons {
    margin-top: 24px;
}
.buttons .fa-spotify {
    margin-right: 10px;
}
.buttons .fa-envelope {
    margin-right: 10px;
}
.subs-btn {
    color: #00FF88;
    border: 2px solid #00FF88;
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    padding: 12px 16px;
    border-radius: 100px;
}
.about-container {
    max-width: 1600px;
    margin: 0 auto;
    background: var(--bg-color);
    padding: 50px ;

}
.about-content {
    text-align: center;
    margin: 0 auto;
}
.about-content .about {
    display: flex;
}
.about-content h2 {
    font-size: 2rem;
    color: var(--primary-color);   
}
.about-description {
    margin: 20px 0 40px;
    font-size: 1rem;
    color: var(--primary-color);
    opacity: 0.8;
}
.about-content .description {
    font-size: 1rem;
    color: var(--primary-color);
    opacity: 0.8;
}
.about {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    border-top: 1px solid rgba(65, 37, 103, 1);
}
.about-card {
    margin-top: 80px;
}
.about-card p {
    color: var(--primary-color);
    opacity: 0.8;
    
}
.about-card h3 {
    font-size: 3rem;
    color: #00FF88;
    font-weight: 900;
}
.about-card .star {
    font-size: 85%;
}
.why-choose-container {
    padding: 120px 0;
    max-width: 1600px;
    background: rgba(35, 14, 61, 1);
   
}
.grid-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    color: var(--primary-color);
}
.why-choose-container .grid {
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;    
}
.grid-content h4 {
    font-size: 1.5rem;
    margin: 16px 0;
}
.grid-content p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    opacity: 0.8;
}
.grid-content .card-1{
    grid-row: span 2;
}
.grid-content .card-2 {
    grid-column: span 2;
}
.grid-content .card-3 {
    grid-column: span 2;
}
.grid-content .card-4 {
    grid-column: span 2;
}
.grid-content .card-5 {
    grid-row: span 1;
}
#Featured-Episodes {
    max-width: 1600px;
    background: var(--bg-color);
    padding: 120px 200px;
}

.episodes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    color: var(--primary-color);
}
.episodes-card {
    background: rgba(37, 13, 68, 1);
    border-radius: 24px;
    padding:  0 0 24px 0;
}
.episodes-card iframe{
    border-radius: 24px 24px 0 0;
    gap: 30px;
}
.episodes-card h4 {
    font-size: 1.5rem;
    margin: 24px 0px;
    padding: 0 24px;
}
.episodes-card p {
    padding: 0 24px;
    font-size: 16px;
    color: var(--primary-color);
    opacity: 0.8;
}
.episodes-card .icon {
    display: flex;
    align-items: center;
    padding-left: 24px;
    margin-top: 12px;
    gap: 6px;
}
.episodes-card .icon span {
    color: #00FF88;
}
.host-container {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 40px;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(53, 17, 101, 0.4);
}
.host-content {
    width: 100%;
}
.host-content h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}
.host-content p {
    font-size: 1rem;
    color: var(--primary-color);
    opacity: 0.8;
    margin: 16px 0;
}
.host-text {
    font-size: 3rem;
    font-weight: 700;
    margin: 120px 0 40px 0;
    text-align: center;
    color: var(--primary-color);
}
.host-icon .host-social{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    margin-right: 15px;
    color: var(--primary-color);
}

.footer-container {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-bg img {
    width: 1600px;
    object-fit: cover;
    overflow-x: hidden;
    display: block;
}
.footer-logo{
    font-size: 4rem;
    color: var(--primary-color);
}
.footer-logo span {
    background: var(--Linear);
    background-clip: text;
    color: transparent;
}
.footer-content {
    text-align: center;
    position: absolute;
    margin: 0 auto;
}
.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 35px 0;
    color: var(--primary-color);
    opacity: 0.8;
}
.copyright-text {
    color: var(--primary-color);
    opacity: 0.8;
}


/* Responsive */

/* Small Device */

@media screen and (max-width: 576px) {
    .navbar {
        padding: 16px 10px;
    }
    .navbar ul {
        gap: 10px;
    }
    .about {
        grid-template-columns: repeat(2, 1fr);

    }
    .grid-content {
        grid-template-columns: repeat(1,1fr);
    }
    .grid {
        margin: 0 auto;
        max-width: 100%;
    }
    .episodes-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .episodes-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }
    .host-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .host-content {
        width: 100%;
        margin: 0 auto;
}
    .host-icon {
        display: flex;
    }
}

/* Medium Device */

@media screen and (min-width:576px) and (max-width: 992px) {
    .navbar {
        padding: 16px 50px;
    }
        .episodes-container {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}