*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
    --primary-color: #FFFFFF;
    --Linear: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}
.navbar {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background-color: #1A0B2E;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    opacity: 0.8;
}
 .logo span {
    background: var(--Linear);
    background-clip: text;
    color: transparent;
 }
.navbar ul {
    display: flex;
    gap: 32px;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
    color: var(--primary-color);
}
.btn {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    background: var(--Linear);
    border: none;
    padding: 12px 16px;
    border-radius: 100px;
}
.banner-container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-image img {
    width: 100vw;
    height: 100vh;
    display: block;
    background-size: cover;
}
.banner-container .banner-content {
    position: absolute;
    text-align: center;
}
.banner-content h1 {
    margin-top: 40px;
    font-size: 4rem;
    color: var(--primary-color);
}
.circle-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-image .microphone {
    position: absolute;
}
.badge {
    position: absolute;
    top: 0%;
    left: 60%;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 30px;
    background-color: #00FF88;
}
.banner-description {
    color: var(--primary-color);
    opacity: 0.8;
}
.buttons {
    margin-top: 24px;
}
.buttons .fa-spotify {
    margin-right: 10px;
}
.buttons .fa-envelope {
    margin-right: 10px;
}
.subs-btn {
    color: #00FF88;
    border: 2px solid #00FF88;
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    padding: 12px 16px;
    border-radius: 100px;
}

/* Responsive */

/* Small Device */

@media screen and (max-width: 576px) {
    .navbar {
        padding: 16px 10px;
    }
    .navbar ul {
        gap: 16px;
    }
}

/* Medium Device */

@media screen and (min-width:576px) and (max-width: 992px) {
    .navbar {
        padding: 16px 50px;
    }
    
}